attrs==19.3.0
Automat==0.8.0
beautifulsoup4==4.8.1
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
constantly==15.1.0
cpca==0.4.4
cryptography==2.8
cssselect==1.1.0
feedfinder2==0.0.4
feedparser==5.2.1
gevent==1.4.0
greenlet==0.4.15
html2text==2019.9.26
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
jieba==0.39
jieba3k==0.35.1
lxml==4.4.2
newspaper3k==0.2.8
nltk==3.4.5
numpy==1.17.4
pandas==0.25.3
parsel==1.5.2
Pillow==6.2.1
Protego==0.1.15
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==1.9.0
pyOpenSSL==19.1.0
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.2
queuelib==1.5.0
readability-lxml==0.7.1
requests==2.22.0
requests-file==1.4.3
service-identity==18.1.0
six==1.13.0
soupsieve==1.9.5
tinysegmenter==0.3
tldextract==2.2.2
Twisted==19.10.0
urllib3==1.25.7
w3lib==1.21.0
websocket==0.2.1
websocket-client==0.56.0
zope.interface==4.7.1
